<div *ngIf="service">

    <h2>{{ service.name | uppercase }} Details</h2>
    <div>
      <label>Name:      </label>
        <input [(ngModel)]="service.name" placeholder="name"/>

    </div>
    <div>
      <label>Price:      </label>
        <input [(ngModel)]="service.price" placeholder="price"/>

    </div>
    <div>
      <label>Available:      </label>
        <input [(ngModel)]="service.available" placeholder="available" type="checkbox"/>

    </div>
    <div>
      <label>Amount:      </label>
        <input [(ngModel)]="service.amount" placeholder="amount" type="number"/>

    </div>
    <div>
      <button (click)="Buy(service)">Buy</button>
    </div>
    <button (click)="save()">save</button>
    <button (click)="goBack()">go back</button>
  </div>
